app/src/main/assets/schematXmlRejestr_Produktow_Leczniczych.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://rejestrymedyczne.ezdrowie.gov.pl/rpl/eksport-danych-v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cmn="http://rejestrymedyczne.ezdrowie.gov.pl/rpl/CommonTypes" version="2.0.0">
    <xs:import schemaLocation="https://rejestrymedyczne.ezdrowie.gov.pl/api/rpl/xsd/1.0.0/commonTypes.xsd" namespace="http://rejestrymedyczne.ezdrowie.gov.pl/rpl/CommonTypes" />
    <xs:element name="produktyLecznicze">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="produktLeczniczy">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="kodyATC" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="kodATC" type="cmn:limitedString" maxOccurs="unbounded" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="substancjeCzynne" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="substancjaCzynna" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="nazwaSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="iloscSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="jednostkaMiaryIlosciSubstancji" use="optional"/>
                                                        <xs:attribute type="xs:string" name="iloscPreparatu" use="optional"/>
                                                        <xs:attribute type="xs:string" name="jednostkaMiaryIlosciPreparatu" use="optional"/>
                                                        <xs:attribute type="xs:string" name="innyOpisIlosci" use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="opakowania" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="opakowanie" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="jednostkaOpakowania" maxOccurs="unbounded" minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute name="liczbaOpakowan" type="cmn:integerAsString" use="optional"/>
                                                                    <xs:attribute name="rodzajOpakowania" type="cmn:limitedString" use="optional"/>
                                                                    <xs:attribute name="pojemnosc" type="xs:string" use="optional"/>
                                                                    <xs:attribute name="jednostkaPojemnosci" type="cmn:limitedString" use="optional"/>
                                                                    <xs:attribute name="informacjeDodatkowe" type="xs:string" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="kodGTIN" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="kategoriaDostepnosci" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="skasowane" type="cmn:booleanAsString" use="optional"/>
                                                <xs:attribute name="numerEu" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="dystrybutorRownolegly" type="cmn:limitedString" use="optional"/>
                                                <xs:attribute name="id" type="cmn:bigIntAsString" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="daneOWytworcy" maxOccurs="1" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="wytworcy" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute type="xs:string" name="nazwaWytworcy" use="optional"/>
                                                        <xs:attribute type="xs:string" name="krajWytworcy" use="optional"/>
                                                        <xs:attribute type="xs:string" name="nazwaImportera" use="optional"/>
                                                        <xs:attribute type="xs:string" name="krajImportera" use="optional"/>
                                                        <xs:attribute type="xs:string" name="podmiotOdpowiedzialnywKrajuEksportu" use="optional"/>
                                                        <xs:attribute type="xs:string" name="krajEksportu " use="optional"/>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="nazwaProduktu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="rodzajPreparatu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="nazwaPowszechnieStosowana" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="nazwaPoprzedniaProduktu" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="moc" type="xs:string" use="optional"/>
                        <xs:attribute name="nazwaPostaciFarmaceutycznej" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="podmiotOdpowiedzialny" type="xs:string" use="optional"/>
                        <xs:attribute name="typProcedury" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="numerPozwolenia" type="cmn:limitedString" use="optional"/>
                        <xs:attribute name="waznoscPozwolenia" type="xs:string" use="optional"/>
                        <xs:attribute name="gatunkiDocelowe" type="xs:string" use="optional"/>
                        <xs:attribute name="okresyKarencji" type="xs:string" use="optional"/>
                        <xs:attribute name="ulotka" type="xs:string" use="optional"/>
                        <xs:attribute name="charakterystyka" type="xs:string" use="optional"/>
                        <xs:attribute name="id" type="cmn:bigIntAsString" use="optional"/>
                        <xs:attribute name="status" type="cmn:changeTypeString" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="stanNaDzien" type="cmn:dateAsString"/>
        </xs:complexType>
    </xs:element>
</xs:schema>